

.beefy {
  font-weight: 700;
  text-decoration: underline;
}

.background {
  /* background-image: url('../../../public/img/asteroid.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: blue;
  background-blend-mode:hard-light;
  color: white; */
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: auto 600px;
  justify-content: start;
  gap: 5rem;

}

.card {
  /* padding: 1rem;
  margin: 1rem;
  background-color: #444;
  width: 22rem;
  border-radius: .5rem; */
}

.h2 {
  margin-top: 2rem;
}

.link {
  color: #fff;
}

.header {
  background-color: #000;
  padding: 1rem;
  width: 100vw;
}

.grid1 {
  display: grid;
  grid-template-columns: auto 300px;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  margin: 0 0 0 0;
}

.grid2 {
  display: grid;
  grid-template-columns: 160px auto;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  margin: 0 0 0 0;
}

.sideBackground {
  background-image: url('../../../public/img/side_background.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #666;
  width: 300px;
  height: 90vh;

}

.form {
  margin: .7rem 0 0 0;
}

