.main {
  margin: 0;
  padding: 0

}

.link {
  color: #fff;
}


.section1 {
  height: 9rem;
}

.section2 {
  background-image: url('../../public/img/earth_background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;
}

.section3 {
  height: 42rem;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
  justify-content: center;
  align-content: start;
}


.section4 {
  height: 20rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0 0 0;
  gap: 1rem;
  text-align: center;
}

.section5 {
  background-image: url('../../public/img/galaxy_background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 3rem;
  text-align: center;
  color: #fff;
  padding: 1.5rem 0 0 0;
}


.cardLink {
  color: #222;
}


