

.beefy {
  font-weight: 700;
  text-decoration: underline;
}

.background {

  padding: 1rem 0;
  display: grid;
  grid-template-columns: 35vw auto;
  justify-content: start;
  gap: 2rem;

}

.card {
  /* padding: 1rem;
  margin: 1rem;
  background-color: #444;
  width: 22rem;
  border-radius: .5rem; */
}

.h2 {
  margin-top: 2rem;
}

.link {
  color: #fff;
}

.header {
  background-color: #000;
  padding: 1rem;
  width: 100vw;
}