

.beefy {
  font-weight: 700;
  text-decoration: underline;
}

.background {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: auto 600px;
  justify-content: start;
  gap: 5rem;

}

.h2 {
  margin: 2rem 0 1rem 0;
}

.link {
  color: #fff;
}

.header {
  background-color: #000;
  padding: 1rem;
  width: 100vw;
}

.chart {
  margin: 0;
}

.grid1 {
  display: grid;
  grid-template-columns: 1fr 300px;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  margin: 0 0 0 0;
}

.grid2 {
  display: grid;
  grid-template-columns: 360px auto;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  margin: 0 0 0 0;
}

.sideBackground {
  background-image: url('../../../public/img/side_background.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2cc;
  width: 300px;
  height: 90vh;
  background-blend-mode:color-burn;

}