

.beefy {
  font-weight: 700;
  text-decoration: underline;
}

.grid {
  /* background-image: url('../../../public/img/asteroid.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: blue;
  background-blend-mode:hard-light;
  color: white; */
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: start;
  gap: 2rem;

}

.card {
  /* padding: 1rem;
  margin: 1rem;
  background-color: #444;
  width: 22rem;
  border-radius: .5rem; */
}

.h2 {
  margin: 2rem 1rem 0 0;
}

.link {
  color: #fff;
}

.header {
  background-color: #000;
  padding: 1rem;
  width: 100vw;
}

.flex {
  display: flex;
  justify-content: flex start;
  align-items: baseline;
  gap: 1rem;
}

.button {
  margin: .5rem 0 0 0;
  padding: .2rem .7rem;
  background-color: #222;
  color: #fff;
  font-weight: 700;
  border-radius: .3rem;
  
}